<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <xacro:macro name="inertial_cuboid_with_pose" params="mass x_length y_length z_length *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}" />
      <inertia ixx="${(1/12) * mass * (y_length*y_length + z_length*z_length)}" ixy="0.0" ixz="0.0"
               iyy="${(1/12) * mass * (x_length*x_length + z_length*z_length)}" iyz="0.0"
               izz="${(1/12) * mass * (x_length*x_length + y_length*y_length)}" />
    </inertial>
  </xacro:macro>

</robot>
